// Point npm to Nexus
registry=http://localhost:8081/repository/npm-private/

// Placeholder auth (Jenkins overrides this later)
# This line is required but ignored during Jenkins build
//localhost:8081/repository/npm-private/:_authToken=ignored